body{ 
    background:rgb(78,53,36);
    margin-left: 60px; 
	margin-right: 60px; 
	color:white
}

turkey_song{ 
	font-family: 'Courier New', Courier, monospace; 
	font-size: 110%; 
    text-align: center; 
}
	footer{ 
	margin-left: 30px; 
	margin-right: 30px; 
	}
